<% provide(:title, "Resources/Services") %>
<% provide(:lang, "en") %>

<div class="row">
  <div class="column categories">
    <ul class="list data">
      <li class="underline", style="margin-bottom:4%;">Jump to...</li>
        <li><a href="#Community">Community Resources <br> <c> Recursos en la Comunidad </c> </a></li>
        <br>
      <li><a href="#Education">Education about Immigration <br> <c> Educación sobre Inmigración <c> </a></li>
       <br>
        <li><a href = "#Language">Language Assistance <br> <c> Ayuda con la Lengua </c> </a></li>
        <br>
      <li><a href = "#Legal">Legal Assistance <br> <c> Ayuda legal </c> </a></li>
     </ul>
  </div>
  <div class="column resources">
    <ul class="list data border-left">


      <% count = 0 %>
      <% @resources.each do |resource|%>

      <!-- Display category name if new category -->
      <!-- id is the first word in the category name (used to jump to this point
            when user clicks on category on left) -->
      <% if count==0 || @resources[count-1].category != @resources[count].category%>
          <li class="underline category" id="<%= resource.category.split.first%>">
            <%= resource.category %>
          </li>
      <%end%>

      <!-- List variables for each resource, if not empty -->
        <li style="font-weight: bold;"><%=resource.name%></li>

        <% if resource.description != nil%>
            <li><%= resource.description%></li>
        <%end%>

          <% if resource.link != nil%>
              <li>Click <%= link_to "here", resource.link, target: :_blank %> to access this resource.</li>
              <%end%>

	      <% if resource.splink != nil%>
              <li><%= link_to "Apriete click", resource.splink, target: :_blank %> para acceder a este recurso en español.</li>
              <%end%>

          <% if resource.contact != nil%>
              <li><b>Contact Person: </b><%=resource.contact%></li>
          <%end%>

          <% if resource.email != nil%>
      <li><b>Email: </b> <a href="mailto:<%=resource.email%>"> <%=resource.email%></a></li>
          <%end%>


          <% if resource.phone != nil%>
      <li><b>Phone Number: </b><a href="tel:+1-<%= resource.phone%>">
	                         <%= resource.phone%></a></li>
          <%end%>

          <% if resource.address != nil%>
                <li><b>Address: </b><%= resource.address%></li>
          <%end%>
          <br><br>
          <%count = count + 1%>
      <%end %>
    </ul>
  </div>
</div>
