<!DOCTYPE html>
<header role="banner">
 <a style="text-decoration:none;" href= "/home">
  <img src="assets/logo.jpg" width="200" alt="CoSI Logo", id="navLogo">
  </a>  <id="logoText">COMMUNITY SUPPORT FOR IMMIGRANTS</id>
</header><!-- header role="banner" -->
<head><meta name="google-site-verification" content="XtY9hV8WgWGfVFx6U8clKQkzht17KJtIs44BGubkYVA" /></head>
<header class="navbar">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="navlist"><%= link_to "HOME", root_path %></li>
        <li class="navlist"><%= link_to "RESOURCES/SERVICES", resources_path %></li>
        <li class="navlist"><%= link_to "CONTACT", contact_path %></li>
        <li class="navlist"><%= link_to "VOLUNTEER/DONATE", volunteer_path %></li>
      </ul>
    </nav>
  </div>
</header>
  <!--
<nav>
      <ul class="navbar-nav nav navbar-inverse">
        <li class="nav-link"><%= link_to "Home", root_path %></li>
        <li class="nav-link"><%= link_to "Resources/Services", resources_path %></li>
        <li class="nav-link"><%= link_to "Contact", contact_path %></li>
        <li class="nav-link"><%= link_to "Volunteer", volunteer_path %></li>
      </ul>
</nav>
 -->



<!-- Brand and toggle get grouped for better mobile display
<header>
  <div class="logo">
    <img src="assets/logo.jpg" alt="CoSI Logo", id="navLogo">
  </div>
  <div class="container">
    <header class="navbar navbar-fixed-top navbar-inverse">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Resources/Services", resources_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Volunteer", volunteer_path %></li>
      </ul>
    </nav>
  </div>
</header>
-->
